@import "../../src/scss/breakpoints.scss";
@import "../../src/scss/variables.scss";

.inner-hero {
  background: $tertiary;
  padding: 160px 0px 120px 0px;
  margin-top: -100px;
  text-align: center;
  @include bp-tablet-sm {
    padding: 220px 0px 60px 0px;
  }
  h1 {
    color: $white;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  p {
    color: rgba($white, 0.5);
    margin-bottom: 0px;
  }
  hr {
    width: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-top: 1px solid $primary;
  }
  span {
    padding: 0px 5px 0px 5px;
  }
}
