@import "../../src/scss/variables.scss";

.title {
  h2 {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    @include bp-tablet-sm {
      font-size: 16px !important;
    }
  }
  hr {
    width: 25px;
    border: 1px solid $primary;
  }
}
