@import "../../src/scss/variables.scss";
@import "../../src/scss/breakpoints.scss";

.footer {
  background: $tertiary;
  padding: 120px 0px 120px 0px;
  @include bp-tablet-sm {
    padding: 30px 0px 30px 0px;
    .text-center {
      text-align: left !important;
    }
  }
  h2,
  p,
  a {
    color: $white;
  }
  p#subtitle,
  .grey {
    color: rgba($white, 0.5);
  }
  hr {
    border-top: 1px solid rgba($white, 0.5);
    margin-top: 60px;
    margin-bottom: 30px;
    @include bp-tablet-sm {
      margin-top: 40px;
    }
  }
}
