@import "../scss/breakpoints.scss";

$heading: "Cardo", serif;
$body: "PT Sans", sans-serif;

$white: #fff;
$primary: #45c3d5;
$secondary: #b0d233;
$tertiary: #1e2326;
$light-grey: #f6f6f6;
$paragraph: #304043;
